[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
opencv-python = "*"
numpy = "*"
tensorflow = "*"
keras = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
